@import 'bootstrap/scss/bootstrap';

$purple: #6E07F3;
$off-white: #FAF9F6;

.pt-60px {
    padding-top: 60px !important;
}

.appContainer{
    margin-top: 54px !important;
}

.bg-purple {
    background-color: $purple;
}

.bg-off-white{
    background-color: $off-white;
}

.text-purple{
    color: $purple;
}

.h-100vh{
    height: 100vh;
}

.h-100vh-54{
    height: calc(100vh - 54px) !important;
}

.purple-underline{
    text-decoration-color: $purple;
    text-decoration-thickness: 5px; 
}

.btn-purple {
    @include button-variant($purple, darken($purple, 7.5%), darken($purple, 10%), lighten($purple,5%), lighten($purple, 10%), darken($purple,30%));
}

.btn-outline-purple {
    @include button-outline-variant($purple, #fff, lighten($purple,5%), $purple);
}

.navbar-toggler-icon {
    background-image: url("../../public/images/bars-solid.svg");
  }